@model eBooks.Models.Publication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationLogo)
        </dt>
        <dd class = "col-sm-10">
          @*  @Html.DisplayFor(model => model.PublicationLogo)*@
          <img src="@Model.PublicationLogo" id="ProfilePicturePreview" alt="@Model.PublicationName class="border-info rounded-circle" style="max-width: 150px" /> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationFamousBooks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationFamousBooks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublicationID">Edit</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>

</div>
