@model IEnumerable<eBooks.Models.Review>

@{
    ViewData["Title"] = "GetAllReviews";
}

<h1>GetAllReviews</h1>

<p>
    <div class="text-white">
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add Review
        </a>
    </div>
</p>
<div class="row">
    <div class="col-md-8 offset-md-2">
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>

                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ReviewID"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ReviewID"><i class="bi bi-eye"></i>Details</a> |
                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.ReviewID"><i class="bi bi-trash"></i>Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
