@model IEnumerable<eBooks.Models.Review>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">Add Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
                <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
